// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3F7CD7;
$darkerBlue: rgb(41, 111, 216);
$red : #EB5757;
$green : #27AE60;
$orange : #F2994A;
$purple : #9B51E0;
$yellow : #F2C94C;
$brighterGray : #F2F2F2;
$gray : #E0E0E0;
$darkerGray : #BDBDBD;
$dark: #7a7a7a;

